<!--<div  style="margin: 0 20px 50px 20px" class="card">-->
<!--  <div class="card-body" style="margin: 0 10px">-->
    <div id="accordion" style="margin: 0 20px 50px 20px">
      <div class="card">
        <div class="card-header" id="headingOne">
              <span style="float: right; margin-top: 8px">
                <svg *ngIf="!collapseOne" (click)="expendedValue(1)" data-target="#collapseOne" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                     width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
                <svg *ngIf="collapseOne" (click)="expendedValue(1)" data-target="#collapseOne" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                     height="1em" width="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-up" >
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                </svg>
              </span>
          <h5 class="mb-0">
            <button class="btn text-gray">
              Status
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <label class="status-label">Select your condition</label>
            <select class="form-control form-control-lg" [(ngModel)]="dialysis" (change)="show()" name="first">
              <option>On Dialysis</option>
              <option>Not on Dialysis yet</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="dialysisBoolean">
        <div class="card-header" id="headingTwo">
               <span style="float: right; margin-top: 8px">
                <svg *ngIf="!collapseTwo" (click)="expendedValue(2)" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
                 <svg *ngIf="collapseTwo" (click)="expendedValue(2)" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                      height="1em" width="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-up" >
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                </svg>
              </span>
          <h5 class="mb-0">
            <button class="btn collapsed">
              Province
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <label class="status-label" style="margin-top: 25px;">Select the province</label>
            <select class="form-control form-control-lg" (change)="getCenters($event)">
              <option>Select</option>
              <option *ngFor="let province of provinces" [value]="province.centers">{{province.title}}</option>
            </select>

            <label class="status-label" style="margin-top: 25px;">Select the transplant program</label>
            <select class="form-control form-control-lg">
              <option *ngFor="let center of centers; let i = index">{{centers[i]}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
               <span style="float: right; margin-top: 8px">
                <svg *ngIf="!collapseThree" (click)="expendedValue(3)" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
                 <svg *ngIf="collapseThree" (click)="expendedValue(3)" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                      height="1em" width="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-up" >
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                </svg>
              </span>
          <h5 class="mb-0">
            <button class="btn collapsed">
              Personal Information
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <form class="mr-auto input-group-lg">
              <label style="margin-top: 20px;" for="ageInput" class="col-form-label">Age</label>
              <input class="form-control" type="number" min="18" onkeydown="return false" max="100" id="ageInput">

              <label style="margin-top: 30px">Gender</label>
            </form>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Gender" id="mGender">
              <label class="form-check-label" for="mGender">Woman</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Gender" id="fGender">
              <label class="form-check-label" for="fGender">Man</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Gender" id="oGender">
              <label class="form-check-label" for="oGender">Other</label>
            </div>

            <form class="mr-auto input-group-lg" style="margin-top: 20px">
              <label class="gender-label">Race</label>
            </form>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceA">
              <label class="form-check-label" for="raceA">Asian</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceB">
              <label class="form-check-label" for="raceB">Black</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceN">
              <label class="form-check-label" for="raceN">Native American</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceP">
              <label class="form-check-label" for="raceP">Pacific Islander</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceW">
              <label class="form-check-label" for="raceW">White</label>
            </div>
            <div class="form-check form-check-inline col-12 " style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Race" id="raceM">
              <label class="form-check-label" for="raceM">Multiracial</label>
            </div>

            <form class="mr-auto input-group-lg" style="margin-top: 20px">
              <label class="gender-label">Ethnicity</label>
            </form>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Ethnicity" id="ethnicityL" value="option2">
              <label class="form-check-label" for="ethnicityL">Latino</label>
            </div>
            <div class="form-check form-check-inline col-12" style="margin-top: 5px">
              <input class="form-check-input" type="radio" name="Ethnicity" id="ethnicityNl" value="option2">
              <label class="form-check-label" for="ethnicityNl">Not Latino</label>
            </div>

<!--            <label style="margin-top: 20px;" for="heightInput" class="col-form-label ">Height</label>-->
            <div class="row" style="margin-top: 20px;">
              <div class="col-6">
                <label for="feetInput" class="col-form-label ">Height (Feet)</label>
                <input class="form-control" min="1" onkeydown="return false" max="32" step="1" type="number" id="feetInput">
              </div>
              <div class="col-6">
                <label for="weightInput" class="col-form-label">Decimals</label>
                <input class="form-control"  type="number" min=".00" onkeydown="return false" max=".99" step=".01" id="feetInputDecimals">
<!--                <label for="inchInput" class="col-form-label">Inches</label>-->
<!--                <input class="form-control" type="number" min="1" id="inchInput">-->
              </div>
            </div>

            <div class="row" style="margin-top: 20px;">
              <div class="col-6">
                <label for="weightInput" class="col-form-label ">Weight (Pounds)</label>
                <input class="form-control" min="2" onkeydown="return false" max="440" step="1" type="number" id="weightInput">
              </div>
              <div class="col-6">
                <label for="weightInputDecimals" class="col-form-label">Decimals</label>
                <input class="form-control"  type="number" min=".00" onkeydown="return false" max=".99" step="0.01" id="weightInputDecimals">
<!--                <label for="inchInput" class="col-form-label">Inches</label>-->
<!--                <input class="form-control" type="number" min="1" id="inchInput">-->
              </div>
            </div>



            <label class="status-label" style="margin-top: 20px;">Blood group</label>
            <select class="form-control form-control-lg">
              <option>AB</option>
              <option>A</option>
              <option>B</option>
              <option>O</option>
            </select>

            <div *ngIf="dialysisBoolean" style="margin-top: 30px;">
              <input type="checkbox" class="form-check-input" id="antibodyLevel" [(ngModel)]="antiBody">
              <label class="form-check-label" for="antibodyLevel" style="margin-left: 20px;">I Know My Antibody Levels (cPRA)</label>
            </div>

            <!--    <label style="margin-top: 20px;" for="weightInput" class="col-form-label">Choose Your Weight (Pounds)</label>-->
            <input *ngIf="antiBody && dialysisBoolean" class="form-control" style="margin-top: 20px;" type="number"
                   min="1" max="100" onkeydown="return false"  placeholder="Enter Your cPRA" id="antibodyLevelNo">

            <div *ngIf="dialysisBoolean" style="margin-top: 30px;">
              <label class="status-label">How Many Years You Have Been On Dialysis?</label>
              <select class="form-control form-control-lg">
                <option>0 Years</option>
                <option>1 Year</option>
                <option>2 Years</option>
                <option>3 Years</option>
                <option>4 Years</option>
                <option>5 Years</option>
                <option>6 Years</option>
                <option>7 Years</option>
                <option>8 Years</option>
                <option>9 Years</option>
                <option>10 Years</option>
              </select>
            </div>

            <label class="status-label" style="margin-top: 30px;">Select any additional health issues:</label>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="Diabetes">
              <label class="form-check-label" for="Diabetes" style="margin-left: 20px;">Diabetes</label>
            </div>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="Stroke">
              <label class="form-check-label" for="Stroke" style="margin-left: 20px;">Stroke</label>
            </div>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="highBloodPressure">
              <label class="form-check-label" for="highBloodPressure" style="margin-left: 20px;">Medications for high blood pressure</label>
            </div>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="emphysema">
              <label class="form-check-label" for="emphysema" style="margin-left: 20px;">Medications for emphysema</label>
            </div>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="Cancer">
              <label class="form-check-label" for="Cancer" style="margin-left: 20px;">Cancer</label>
            </div>
            <div style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input" id="peripheralArtery">
              <label class="form-check-label" for="peripheralArtery" style="margin-left: 20px;">Poor circulation of the blood
                vessels outside the heart or brain (Peripheral artery disease)</label>
            </div>
          </div>
        </div>
      </div>
    </div>






<!--  </div>-->
<!--</div>-->
