select, input {
  border-radius: 10px !important;
  margin: 0 5px 0 0;
  font-size: 16px !important;
}
.form-check-label {
  font-size: 16px !important;
  font-weight: 400 !important;
}
button {
  font-size: 16px !important;
  font-weight: bold !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
label {
  font-weight: 400 !important;
  font-size: 16px;
}
svg {
  cursor: pointer;
}
button {
  cursor: auto !important;
}
.card-header {
  background-color: #F5F5F5 !important;
}
