label, .card-header {
  font-size: 16px !important;
  font-weight: 500 !important;
}
p {
  line-height: 25px;
}
h2 {
  font-weight: 600px;
}
select, input {
  font-size: 14px !important;
}
@media only screen and (max-width: 390px) {
  h1 {
    font-size: 18px !important;
  }
  p {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 992px) {
  .marg {
    margin-top: 20px;
  }
}
