<div style="margin: 20px">
  <div class="row" style="margin: 1px">
    <div class="card col-lg-5">
      <div class="card-body">
        <label class="status-label">Choose The Outcome</label>
        <select class="form-control form-control-lg" name="first" [(ngModel)]="outCome" (change)="changeData()">
          <option>Organ Survival Rate</option>
          <option>Patient Survival Rate</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-xl-8 col-lg-7">
      <div class="card">
        <div class="card-header">Graft Survival Rate</div>
        <div class="card-body">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                  [legend]="barChartLegend" [chartType]="barChartType" [plugins]="barChartPlugins"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5 marg">
      <div class="card bg-light border-info">
        <div class="card-body">
          <div style="margin-top: 30px">
            <h2>What IF I Accept This Organ</h2>
            <hr class="solid">
            <div style="font-size: 14px" class="row">
                <div class="col-md-9 col-8">
                  <p>
                    Estimated Graft Survival Time For This Organ:
                  </p>
                </div>
                <div class="col-md-3 col-4 text-center">
                  <p  style="background-color: #8EC842">
                    3 Years
                  </p>
                  <small>with 95% certainty and ± 2 months of error</small>
                </div>
            </div>

            <div style="font-size: 14px" class="row">
                <div class="col-md-9 col-8">
                  <p>
                    Estimated Graft Survival Time For An Ideal Organ:
                  </p>
                </div>
                <div class="col-md-3 col-4 text-center">
                  <p  style="background-color: #8EC842">
                    5 Years
                  </p>
                  <small>with 93% certainty and ± 4 months of error</small>
                </div>
            </div>
          </div>
          <div style="margin-top: 20px">
            <h2>What IF I Refuse This Organ</h2>
            <hr class="solid">
            <div class="row" style="font-size: 15px">
              <div class="col-md-9 col-8">
                <p>Average Waiting Time Until The Next Available Organ:</p>
              </div>
              <div class="col-md-3 col-4 text-center">
                <p style="background-color: crimson">10 Months
                </p>
                <small>with 90% certainty and ± 1 months of error</small>
              </div>
            </div>
            <div class="row" style="font-size: 15px">
              <div class="col-md-9 col-8">
                <p>Estimated Graft Survival Time For The Next Available Organ:</p>
              </div>
              <div class="col-md-3 col-4 text-center">
                <p style="background-color: crimson" >4 years</p>
                <small>with 92% certainty and ± 3 months of error</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
