<div class="row">
  <div class="col-lg-5 col-12">
    <app-type-a-accardion #typeAAccardionComponentRef></app-type-a-accardion>
  </div>
  <div class="col-lg-7 col-12">
    <div *ngIf="typeAAccardionComponentRef.dialysisBoolean">
    <div class="card" style="margin:0 20px 20px 20px">
      <div class="card-header">
        How many years into the future do you want to predict?
      </div>
      <div class="card-body">
        <input type="range" class="custom-range" min="1" max="5" id="prediction" value="1" (change)="updateTextInput()" [(ngModel)]="predictionYears">
        <div class="text-center" style="margin-top: 10px">
          <input type="text" style="width: 100px" disabled id="textInput" value="1 Years">
        </div>
      </div>
    </div>

    <div class="card" style="margin:0 20px 20px 20px">
      <div class="card-header">
        Probability in {{predictionYears}} years
      </div>
      <div class="card-body">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                [legend]="barChartLegend" [chartType]="barChartType" [plugins]="barChartPlugins"></canvas>
      </div>
    </div>
  </div>


    <div *ngIf="!typeAAccardionComponentRef.dialysisBoolean && typeAAccardionComponentRef.dialysisBoolean !== null"
           class="card backgroundGrad" style="margin: 50px 0; position: fixed; width: 40%">
        <div class="card-body">
          <div class="text-center text-justify" style="font-size: 18px">Estimated Time Until Dialysis Starts: </div>
          <div class="text-center" style="font-size: 40px; font-weight: 700; margin: 50px">120 Months </div>
          <div class="text-center" style="font-size: 18px">With 92% Confidence </div>
        </div>
      </div>

  </div>
</div>
