.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: white !important;
}
.card {
  border-radius: 10px !important;
  margin: 0 20px 0 20px;
}
.caed-body {
  padding: 50px !important;
}
