<div style="height: 50px; background-color: #1b1e25">
<!--    <svg (click)="logOut()" routerLink="/login" style="float: right; margin: 5px 10px 0 0; color: white" width="35" height="35" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--      <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>-->
<!--    </svg>-->
  <svg matTooltip="logout" (click)="logOut()" routerLink="/login" style="float: right; margin: 5px 10px 0 0; color: white" width="35" height="35" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward-fill">
    <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
  </svg>
</div>
