<div class="card cardWithStyle">
  <div class="card-header cardHeaderWithStyle">
    Results
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-4" style="margin-bottom: 30px;">
        <app-patient-info-accardion *ngIf="patient" [cardTitle]="'General Information'" [patient]="patient"></app-patient-info-accardion>
        <app-donor-info-accardion *ngIf="donor" [cardTitle]="'General Information'" [donor]="donor"></app-donor-info-accardion>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="card fixed-card w-50">
          <div class="card-body">
            <div class="row text-center" style="font-size: 18px; margin-bottom: 20px">
              <div class="col-3">
                <p>
                  <svg width="32" height="32" viewBox="0 0 18 18" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                  </svg>
                  List Of Potential Donors</p>
              </div>
              <div class="col-3">
                <p>
                  <svg (click)="sortMatchPercent()" width="32" height="32" viewBox="0 0 18 18" class="clickable bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  Good Match
                </p>
              </div>
              <div class="col-3 hide-on-very-small">
                <p>
                  <svg (click)="sortOrganLongevity()"  width="32" height="32" viewBox="0 0 18 18" class="clickable bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  Organ Longevity For This Candidate</p>
              </div>
              <div class="col-3 hide-on-very-small">
                <p>
                  <svg  (click)="sortCandidateSurvivalTime()" width="32" height="32" viewBox="0 0 18 18" class="clickable bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  Candidate Survival Time With This Organ</p>
              </div>

            </div>
            <div *ngFor="let donor of potentials" class="row" style="font-size: 18px; margin-bottom: 10px">
              <div class="col-3">
                <svg style="color: #0FE100" width="32" height="32" viewBox="0 0 16 16" class="bi bi-check2-circle hide-on-mob" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                {{donor.name}}
              </div>
              <div class="col-3 text-center">
                  <svg  width="32" height="32" viewBox="0 0 16 16" class="bi bi-check2-circle hide-on-mob" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                  </svg>
                {{donor.matchPercent}} %
              </div>
              <div class="col-3 hide-on-very-small">
                <img [src]="'assets/noun_Kidney_1864502.png'"
                     alt="..." width="40">
                {{donor.organLongevity}} Years
              </div>
              <div class="col-3 hide-on-very-small">
                  <svg  [style]="donor.color" width="32" height="32" viewBox="0 0 16 16" class="bi bi-check2-circle hide-on-mob" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                  </svg>
                {{donor.candidateSurvivalTime}} Years
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
