.cardWithStyle {
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
.cardHeaderWithStyle {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: white !important;
}
.divider {
  border-top: 1px solid #515B64;
  width: 100%;
  margin: 0 15px 0 15px;
  opacity: 10%;
}

button {
  font-size: 16px !important;
  font-weight: bold !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
label {
  font-weight: 400 !important;
  font-size: 16px;
}
input, select {
  border-radius: 10px !important;
  margin: 0 5px 0 0;
}
.fixed-card {
  position: fixed;
}
.clickable {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .fixed-card {
    width: 43% !important;
  }
}
@media (max-width: 993px) {
 .fixed-card {
   position: relative;
   width: 100% !important;
 }
  .hide-on-mob {
    display: none;
  }
}
@media (max-width: 500px) {
 .hide-on-very-small {
   display: none;
 }
  .col-3 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
