<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
              <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn text-gray" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{cardTitle}}
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="fName-label" >First Name</label>
          <input type="text" class="form-control">
          <label class="lName-label" style="margin-top: 20px">Last Name</label>
          <input type="text" class="form-control">
          <label class="gender-label" style="margin-top: 20px">Gender</label>
        </form>
        <div class="form-check form-check-inline col-6">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Man</label>
        </div>
        <div class="form-check form-check-inline col-6">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Woman</label>
        </div>
        <form class="mr-auto input-group-lg" style="margin-top: 20px">
          <label class="height-label">Your height (Ft)</label>
          <select class="custom-select">
            <option value="">Choose Your Height</option>
            <option value="1">3</option>
            <option value="2">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
          </select>
          <label class="bType-label"  style="margin-top: 20px">Blood Type</label>
          <select class="custom-select">
            <option value="">Choose Your Blood Type</option>
            <option value="1">AB +</option>
            <option value="3">AB -</option>
            <option value="2">A  +</option>
            <option value="3">A  -</option>
            <option value="3">B  +</option>
            <option value="3">B  -</option>
            <option value="3">O  +</option>
            <option value="3">O  -</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Output
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="gTube-label" >Gastric Gastric Tube</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oStool-label" style="margin-top: 20px">Stool Out Stool</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uo-label" style="margin-top: 20px">Urine Out Incontinent</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uf-label" style="margin-top: 20px">Ultrafiltrate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="foley-label" style="margin-top: 20px">Foley</label>
          <input type="text" class="form-control ad-info-form">

          <label class="void-label" style="margin-top: 20px">Void</label>
          <input type="text" class="form-control ad-info-form">

          <label class="cc-label" style="margin-top: 20px">Condom Cath</label>
          <input type="text" class="form-control ad-info-form">

          <label class="fb-label" style="margin-top: 20px">Fecal Bag</label>
          <input type="text" class="form-control ad-info-form">

          <label class="o-label" style="margin-top: 20px">Ostomy (Output)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct1-label" style="margin-top: 20px">Chest Tube #1</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct2-label" style="margin-top: 20px">Chest Tube #2</label>
          <input type="text" class="form-control ad-info-form">

          <label class="jp-label" style="margin-top: 20px">Jakson Pratt #1</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">OR EBL</label>
          <input type="text" class="form-control ad-info-form">

          <label class="pa-label" style="margin-top: 20px">Pre-Admission</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">TF Residual</label>
          <input type="text" class="form-control ad-info-form">
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Input
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="gTube-label" >Albumin 5%</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oStool-label" style="margin-top: 20px">Dextrose 5%</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uo-label" style="margin-top: 20px">Fresh Frozen Plasma</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uf-label" style="margin-top: 20px">Lorazepam (Ativan)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="foley-label" style="margin-top: 20px">Calcium Gluconate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="void-label" style="margin-top: 20px">Midazolam (Versed)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="cc-label" style="margin-top: 20px">Phenylephrine</label>
          <input type="text" class="form-control ad-info-form">

          <label class="fb-label" style="margin-top: 20px">Furosemide (Lasix)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="o-label" style="margin-top: 20px">Hydralazine</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct1-label" style="margin-top: 20px">Norepinephrine</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct2-label" style="margin-top: 20px">Magnesium Sulfate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="jp-label" style="margin-top: 20px">Nitroglycerin</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Insulin - Regular</label>
          <input type="text" class="form-control ad-info-form">

          <label class="pa-label" style="margin-top: 20px">Insulin - Glargine</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Insulin - Humalog</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Heparin Sodium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Morphine Sulfate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Potassium Chloride</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Packed Red Blood cells</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Gastric Meds</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">D5 1/2NS</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">LR</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">K Phos</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Solution</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Sterile Water</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Metoprolol</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Piggyback</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">OR Crystalloid Intake</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">OR Cell Saver Intake</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PO Intake</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">GT Flush</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">KCL (Bolus)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Magnesium Sulfate (Bolus)</label>
          <input type="text" class="form-control ad-info-form">
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Lab Test
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="gTube-label" >Hematocrit</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oStool-label" style="margin-top: 20px">White Blood Cells</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uo-label" style="margin-top: 20px">Platelet Count</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uf-label" style="margin-top: 20px">Hemoglobin</label>
          <input type="text" class="form-control ad-info-form">

          <label class="foley-label" style="margin-top: 20px">MCHC</label>
          <input type="text" class="form-control ad-info-form">

          <label class="void-label" style="margin-top: 20px">MCH</label>
          <input type="text" class="form-control ad-info-form">

          <label class="cc-label" style="margin-top: 20px">MCV</label>
          <input type="text" class="form-control ad-info-form">

          <label class="fb-label" style="margin-top: 20px">Red Blood Cells</label>
          <input type="text" class="form-control ad-info-form">

          <label class="o-label" style="margin-top: 20px">RDW</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct1-label" style="margin-top: 20px">Potassium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct2-label" style="margin-top: 20px">Sodium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="jp-label" style="margin-top: 20px">Chloride</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Bicarbonate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="pa-label" style="margin-top: 20px">Anion Gap</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Urea Nitrogen</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Creatinine</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Glucose</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Magnesium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Total Calcium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Phosphate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">INR (PT)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PT</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PTT</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Lymphocytes</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Monocytes</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Neutrophils</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Basophils</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Eosinophils</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Total Bilirubin</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PH</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Base Excess</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Calculated Total CO2</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PO2</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PCO2</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">PH</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Specific Gravity</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Lactate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Alanine Aminotransferase (ALT)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Asparate Aminotransferase (AST)</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Alkaline Phosphatase</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oe-label" style="margin-top: 20px">Albumin</label>
          <input type="text" class="form-control ad-info-form">
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          Prescription
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="gTube-label">Aspirin</label>
          <input type="text" class="form-control ad-info-form">

          <label class="oStool-label" style="margin-top: 20px">Bisacodyl</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uo-label" style="margin-top: 20px">Docusate Sodium</label>
          <input type="text" class="form-control ad-info-form">

          <label class="uf-label" style="margin-top: 20px">D5W</label>
          <input type="text" class="form-control ad-info-form">

          <label class="foley-label" style="margin-top: 20px">Humulin-R Insulin</label>
          <input type="text" class="form-control ad-info-form">

          <label class="void-label" style="margin-top: 20px">Potassium Chloride</label>
          <input type="text" class="form-control ad-info-form">

          <label class="cc-label" style="margin-top: 20px">Magnesium Sulfate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="fb-label" style="margin-top: 20px">Metroprolol Tartrate</label>
          <input type="text" class="form-control ad-info-form">

          <label class="o-label" style="margin-top: 20px">Sodium Chloride 0.9% Flush</label>
          <input type="text" class="form-control ad-info-form">

          <label class="ct1-label" style="margin-top: 20px">Pantoprazole</label>
          <input type="text" class="form-control ad-info-form">
        </form>
      </div>
    </div>
  </div>
</div>
