button {
  font-size: 16px !important;
  font-weight: bold !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
label {
  font-weight: 400 !important;
  font-size: 16px;
}
input, select {
  border-radius: 10px !important;
  margin: 0 5px 0 0;
  font-size: 16px !important;
}
