.card {
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: white !important;
}
button {
  font-size: 16px !important;
  border-radius: 10px;
  /*color: #aaaaaa;*/
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
input, select {
  border-radius: 10px !important;
  margin: 0 5px 0 0;
}
label {
  font-weight: 400 !important;
}
.input-group-lg .form-control, .custom-select {
  height: calc(1.5em + 1.2rem + 2px) !important;
  font-size: 14px;
}
.swal2-popup { font-size: 1.6rem !important; }
