<div class="card">
  <div class="card-header">View And Edit Information</div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
          <app-patient-info-accardion *ngIf="patient" [cardTitle]="'General Information'" [patient]="patient"></app-patient-info-accardion>
          <app-donor-info-accardion *ngIf="donor" [cardTitle]="'General Information'" [donor]="donor"></app-donor-info-accardion>
          <div class="text-right" style="margin: 20px 20px 0 0;">
            <button type="button" class="btn btn-primary" (click)="openDialog()">Leave A Comment</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px" routerLink="/dashboard">Save And Exit</button>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>

  </div>

</div>
