<div class="vertical-nav" id="sidebar" style="background-color: #1b1e25">
<!--  <div class="py-4 px-3 mb-4 bg-dark">-->
    <div class="media-body" style="padding: 9px; background-color: #1daf9a;">
      <h2 class="m-0 text-light text-center">Medical Service</h2>
    </div>
<!--  </div>-->
<!--  <div class="divider"></div>-->
  <div class="py-4 px-3 mb-4 text-white">
    <div class="media d-flex align-items-center"><img [src]="'assets/nobody.jpg'"
                                                      alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0" style="font-size: 20px;">John Smith</h4>
      </div>
    </div>
  </div>


  <div class="divider"></div>

  <div style="margin-top: 9px; font-size: 15px">
    <h4 class="text-gray font-weight-bold text-uppercase px-3 pb-4 mb-0" *ngIf="+role == 2">Eligible for transplant</h4>
    <h4 class="text-gray font-weight-bold px-3 pb-4 mb-0" *ngIf="+role == 3">Not eligible for transplant</h4>
    <h4 class="text-gray font-weight-bold text-uppercase px-3 pb-4 mb-0" *ngIf="+role == 1">Doctor</h4>
  </div>
<!--  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style="margin-top: 9px;">Your Dashboard</p>-->

  <div class="divider"></div>

  <ul class="nav flex-column mb-0">
    <li>
      <a class="nav-link text-white" [routerLink]="+role == 1 ? '/doctor-dashboard': +role == 2 ? '/type-a-dashboard': +role == 3 ? '/type-b-dashboard' : ''">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        <svg width="32" height="32" viewBox="0 0 24 24" class="bi bi-columns-gap" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M6 1H1v3h5V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12h-5v3h5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8H1v7h5V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6h-5v7h5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
        </svg>
        <span>
          Dashboard
        </span>
      </a>
    </li>
<!--    <li *ngIf="+role == 4" class="nav-item" >-->
<!--      <a class="nav-link text-white" routerLink="/patient-requests">-->
<!--        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>-->
<!--        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
<!--        </svg>-->
<!--        <span>-->
<!--          Patient Requests-->
<!--        </span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li *ngIf="+role == 4" class="nav-item">-->
<!--      <a class="nav-link text-white" routerLink="/info">-->
<!--        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>-->
<!--        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
<!--        </svg>-->
<!--        <span>-->
<!--          My Profile-->
<!--        </span>-->
<!--      </a>-->
<!--    </li>-->
    <li *ngIf="+role == 3" class="nav-item">
      <a class="nav-link text-white" routerLink="/personal-info">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <span>
          My Information
        </span>
      </a>
    </li>
<!--    <li *ngIf="+role == 2" class="nav-item">-->
<!--      <a class="nav-link text-white" routerLink="/find-a-donor">-->
<!--        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>-->
<!--        <svg width="28" height="28" viewBox="0 0 20 20" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
<!--        </svg>-->
<!--        Find A Donor-->
<!--      </a>-->
<!--    </li>-->
    <li *ngIf="+role == 1 || +role == 5" class="nav-item">
      <a class="nav-link text-white" routerLink="dashboard/candidates">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <span>
          Candidates
        </span>
      </a>
    </li>
    <li *ngIf="+role == 1 || +role == 5" class="nav-item">
      <a class="nav-link text-white" routerLink="dashboard/donors">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <span>
          Donors
        </span>
      </a>
    </li>
    <li *ngIf="+role == 5" class="nav-item">
      <a class="nav-link text-white" routerLink="dashboard/doctors">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        <svg width="28" height="28" viewBox="0 0 24 24" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <span>
          Doctors
        </span>
      </a>
    </li>
  </ul>

</div>
<!-- End vertical navbar -->

<!-- Page content holder -->

<div class="page-content p-5" id="content">

  <div class="container" (click)="toggleMenu()" id="menuBtnAlmostHidden">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <router-outlet id="hideee"></router-outlet>
</div>
<!-- End demo content -->

<!--      <router-outlet></router-outlet>-->


