.divider {
  border-top: 3px solid #515B64;
  padding: 2px;
}
a:hover, a:focus {
  background-color: #1daf9a !important;
  border-left: 6px solid white;
}
li {
  height: 48px !important;
}
span {
  padding: 7px;
  font-size: 16px;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 28rem;
  width: 28rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 28rem);
  margin-left: 28rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -28rem;
}

#content.active {
  width: 100%;
  margin: 0;
}
#hideee.active {
  /*display: none;*/
}
@media (max-width: 3000px) {
  #menuBtnAlmostHidden {
    display: none;
    margin: 0 0 3px 0;
  }
}


@media (max-width: 768px) {
  #menuBtnAlmostHidden {
    display: block;
  }
  #sidebar {
    margin-left: -28rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 28rem;
    width: calc(100% - 28rem);
  }
}
.p-5 {
  padding: 20px 0 0 0 !important;
}
/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

#content {
  background: #E8E9EB;
  /*background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);*/
  /*background: linear-gradient(to right, #599fd9, #c2e59c);*/
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}


/*toggle button*/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
