<div class="card">
  <div class="card-header">
    Donors
  </div>
  <div class="card-body">
    <div style="margin: 5px 0 20px 0;">
      <!--      <p>-->
      <!--        Search In Patients-->
      <!--      </p>-->
      <!--      <span>-->
      <form class="form-inline mr-auto input-group-lg">
        <input class="form-control mr-sm-2" name="searchBar" type="text" placeholder="Search" aria-label="Search"
               aria-describedby="inputGroup-sizing-default" [(ngModel)]="string">
        <button class="btn btn-primary btn-rounded btn-lg my-0" type="submit" (click)="searchDonors()">GO</button>
      </form>
      <!--      <input class="form-control" type="text" placeholder="Search" aria-label="Search">-->
      <!--    </span>-->
    </div>
    <table class="table table-bordered table-hover table-responsive table-striped text-center">
      <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>BloodType</th>
        <th>BMI</th>
        <th class="single-line">Donor Type</th>
        <th class="single-line">Inotropic Agents</th>
        <th class="single-line">Cardiovascular Arrest</th>
        <th class="single-line">Cocaine Use</th>
        <th>Hypertension</th>
        <th class="single-line">Anti-CMV</th>
        <th class="single-line">Anti-HCV</th>
        <th>A1</th>
        <th>A2</th>
        <th>B1</th>
        <th>B2</th>
        <th>DR1</th>
        <th>DR2</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let donor of donors3">
        <td class="single-line text-left">{{donor.firstName + ' ' + donor.lastName}}</td>
        <td>{{donor.DON_GENDER}}</td>
        <td>{{donor.DON_AGE_IN_MONTHS}}</td>
        <td>{{donor.DON_ABO}}</td>
        <td>{{donor.DON_BMI}}</td>
        <td>{{donor.DON_TY}}</td>
        <td>{{donor.DON_INOTROP_AGENT_GE3}}</td>
        <td>{{donor.DON_CARDIAC_ARREST_AFTER_DEATH}}</td>
        <td>{{donor.DON_CONT_COCAINE}}</td>
        <td>{{donor.DON_HIST_HYPERTEN}}</td>
        <td>{{donor.DON_ANTI_CMV}}</td>
        <td>{{donor.DON_ANTI_HCV}}</td>
        <td>{{donor.DON_A1}}</td>
        <td>{{donor.DON_A2}}</td>
        <td>{{donor.DON_B1}}</td>
        <td>{{donor.DON_B2}}</td>
        <td>{{donor.DON_DR1}}</td>
        <td>{{donor.DON_DR2}}</td>
        <td class="single-line">
          <span>
            <button class="btn btn-outline-dark btn-lg" matTooltip="Match-Making" matTooltipPosition="above" routerLink="/match-making" [queryParams]="donor" skipLocationChange="true">
              <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-bag-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
              </svg>
            </button>
            <button class="btn btn-outline-info btn-lg" matTooltip="Info" matTooltipPosition="above" routerLink="/info" [queryParams]="donor" skipLocationChange="true">
              <svg width="18" height="18" viewBox="0 0 18 18" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
            </button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--  <div class="card-footer">-->
  <!--    <ngb-pagination *ngIf="this.patients.length > 10" [collectionSize]="this.patients.length" [(page)]="1" pageSize="10"></ngb-pagination>-->
  <!--  </div>-->
</div>
