<div>
  <div>
    <div class="chart" style="display: block;">
      <canvas baseChart height="320" [data]="pieChartData[0].data" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
              [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
