.card {
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: white !important;
}
input {
  width: 300px !important;
  border-radius: 10px !important;
}
button {
  margin-left: 10px;
  width: 50px;
  border-radius: 10px;
}
.form-inline {
  flex-flow: inherit !important;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
