<div class="card">
  <div class="card-header">
    Candidates
  </div>
  <div class="card-body">
    <div style="margin: 5px 0 20px 0;">
      <form class="form-inline mr-auto input-group-lg">
        <input class="form-control mr-sm-2" name="searchBar" type="text" placeholder="Search" aria-label="Search"
                 aria-describedby="inputGroup-sizing-default" [(ngModel)]="string">
        <button class="btn btn-primary btn-rounded btn-lg my-0" type="submit" (click)="searchPatients()">GO</button>
      </form>
    </div>
    <table class="table table-bordered table-striped table-hover table-responsive text-center">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">BloodType</th>
        <th scope="col" class="single-line">Medical Condition</th>
        <th scope="col">BMI</th>
        <th scope="col">HIV</th>
        <th scope="col">IGG</th>
        <th scope="col">IGM</th>
        <th scope="col">HCV</th>
        <th scope="col">EBV</th>
        <th scope="col" class="single-line">Previous Malignancies</th>
        <th scope="col">PRA</th>
        <th scope="col">A1</th>
        <th scope="col">A2</th>
        <th scope="col">B1</th>
        <th scope="col">B2</th>
        <th scope="col">DR1</th>
        <th scope="col">DR2</th>
        <th scope="col" class="single-line">Diabetes Type</th>
        <th scope="col">Albumin</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients3">
        <td class="single-line text-left">{{patient.firstName + ' ' + patient.lastName}}</td>
        <td>{{patient.CAN_GENDER}}</td>
        <td>{{patient.REC_AGE}}</td>
        <td>{{patient.CAN_ABO}}</td>
        <td>{{patient.REC_MED_COND}}</td>
        <td>{{patient.REC_BMI}}</td>
        <td>{{patient.REC_HIV_STAT}}</td>
        <td>{{patient.REC_CMV_IGG}}</td>
        <td>{{patient.REC_CMV_IGM}}</td>
        <td>{{patient.REC_HCV_STAT}}</td>
        <td>{{patient.REC_EBV_STAT}}</td>
        <td>{{patient.REC_MALIG}}</td>
        <td>{{patient.REC_CREAT}}</td>
        <td>{{patient.REC_A1}}</td>
        <td>{{patient.REC_A2}}</td>
        <td>{{patient.REC_B1}}</td>
        <td>{{patient.REC_B2}}</td>
        <td>{{patient.REC_DR1}}</td>
        <td>{{patient.REC_DR2}}</td>
        <td>{{patient.CAN_DIAB_TY}}</td>
        <td>{{patient.CAN_TOT_ALBUMIN}}</td>
<!--        <td>{{patient.CAN_ABO}}</td>-->
        <td class="single-line">
          <span>
            <button class="btn btn-outline-dark btn-lg" matTooltip="Match-Making" matTooltipPosition="above" routerLink="/match-making" [queryParams]="patient" skipLocationChange="true">
              <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-bag-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
              </svg>
            </button>
            <button class="btn btn-outline-info btn-lg" matTooltip="Info" matTooltipPosition="above" routerLink="/info" [queryParams]="patient" skipLocationChange="true">
              <svg width="18" height="18" viewBox="0 0 18 18" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
            </button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<!--  <div class="card-footer">-->
<!--    <ngb-pagination *ngIf="this.patients.length > 10" [collectionSize]="this.patients.length" [(page)]="1" pageSize="10"></ngb-pagination>-->
<!--  </div>-->
</div>
