<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <app-patient-info-accardion [cardTitle]="'My Information'"></app-patient-info-accardion>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
<!--    <div class="text-right" style="margin: 20px 20px 0 0;">-->
<!--      <button type="button" class="btn btn-primary" routerLink="/results">View Results</button>-->
<!--    </div>-->
  </div>
</div>
