<div>
  <div class="col-xl-3 col-lg-6 col-md-12" style="margin-bottom: 10px;">
    <div class="card-box bg-blue">
      <div class="inner">
        <p style="margin-bottom: 7px">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          Total Patients
        </p>
        <h3> 282 </h3>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12" style="margin-bottom: 10px;">
    <div class="card-box bg-orange">
      <div class="inner">
        <p style="margin-bottom: 10px">
          <img [src]="'assets/noun_give kidney_2940396.png'"
               alt="..." width="33" height="40">
          Total Donors
        </p>
        <h3> 154 </h3>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12" style="margin-bottom: 10px;">
    <div class="card-box bg-blue">
      <div class="inner">
        <p style="margin-bottom: 7px">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          Total Patients2
        </p>
        <h3> 282 </h3>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12" style="margin-bottom: 10px;">
    <div class="card-box bg-blue">
      <div class="inner">
        <p style="margin-bottom: 7px">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          Total Patients3
        </p>
        <h3> 282 </h3>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="col-xl-8 col-lg-7 col-md-12">
    <div class="card">
      <div class="card-header">
        Surgery Chart
      </div>
      <div class="card-body">
        <div class="flex">
          <div class="flex-item">
            <div style="display: block;">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                      [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" [plugins]="barChartPlugins"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-12">
    <div class="card">
      <div class="card-header">
        Patients & Donors
      </div>
      <div class="card-body">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
  </div>
</div>

