.card-box {
  position: relative;
  color: #1b1e25;
  padding: 20px 10px 40px;
  border-radius: 2px;
}
p {
  text-align: center!important;
  font-weight: bold;
  font-size: 20px!important;
}
h3 {
  text-align: center!important;
}
h4 {
  text-align: center!important;
  font-size: 16px!important;
}
.card-box .inner {
  padding: 5px 10px 0 10px;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}
.card-box p {
  font-size: 18px;
}
.bg-blue {
  background-color: white;
  /*background: linear-gradient(to right, #6616CE, #1368FD);*/
}
.bg-orange {
  background-color: white;
  /*background: linear-gradient(to right, #FC4D1C, #F8B127);*/
}
.bg-green {
  background-color: white;
  /*background: linear-gradient(to right, #05B198, #8EC842);*/
}

.bg-pink {
  background-color: white;
  /*background: linear-gradient(to right, #EF0D74, #FF6704);*/

}
.bg-white {
  background-color: white;
}

/*// row2*/
.card {
  border-radius: 2px;
  margin: 20px 0 0 0;
}
.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: white !important;
}

