hr.sign-in-solid {
  border-top: 5px solid #267DFF;
  width: 45px;
}
hr.welcome-solid {
  border-top: 5px solid white;
  width: 100px;
  margin-left: 1px;
}
hr.welcome-solid2 {
  border-top: 5px solid white;
  width: 100px;
  /*margin-left: 10px;*/
}
hr.input-solid {
  border-top: 1px solid darkgrey;
  width: 400px;
}
hr.small-input-solid {
  border-top: 1px solid darkgrey;
  width: 400px;
}
input {
  background-color:transparent;
  border: 0px solid;
  width:400px;
}
input:focus {
  outline:none;
}
.login-button {
  width: 200px;
}
@keyframes slideIn {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1.3);
  }
}
.login-button:hover{
  animation: 2s ease-in 100ms 1 reverse both running slideIn;
}
.know-more-button {
  width: 200px;
  border: 2px solid white;
  height: 60px;
}
.know-more-button2 {
  width: 200px;
  border: 2px solid white;
  height: 60px;
}
.know-more-button:hover span {
  padding-right: 25px;
}

.know-more-button:hover span:after {
  opacity: 1;
  right: 0;
}
.know-more-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.know-more-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:focus {
  outline: none !important;
}
.fullScreenDiv {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/*mobile-show*/
@media only screen and (max-width: 990px) {
  .col-big-hidden {
    display: none !important;
  }
  .big-show {
    display: block;
    overflow: hidden;
  }
  .know-more-button2 {
    display: none;
  }
  .medium-div {
    height: 50px !important;
  }
  .hidden-on-very-small {
    height: 50px !important;
  }
  .button-margin {
    margin-bottom: 40px;
  }
  /*.know-more-button2 {*/
  /*  display: block;*/
  /*  margin: 0 auto;*/
  /*}*/
}
@media only screen and (max-width: 300px) {
  .p-very-small-hidden {
    display: none;
  }
  .know-more-button2 {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .p-very-small-hidden {
    margin: 30px !important;
  }
  .small-input {
    width: 260px !important;
  }
  .small-input-solid {
    width: 260px !important;
  }
  b {
    margin: 15px !important;
  }
}
@media screen and (max-width: 410px) {
  .small-input {
    width: 220px !important;
  }
  .small-input-solid {
    width: 220px !important;
  }
}
@media screen and (max-width: 340px) {
  .small-input {
    width: 200px !important;
  }
  .small-input-solid {
    width: 200px !important;
  }
}

/*desktop-show*/
@media screen and (min-width: 990px) {
  .big-show {
    display: none;
  }
}
.swal2-popup {
  font-size: 5em !important;
}
/*.swal2-popup {*/
/*  font-size: 1.6rem !important;*/
/*}*/
/*.swal2-container {*/
/*  zoom: 1.5;*/
/*}*/

/*.swal2-icon {*/
/*  width: 5em !important;*/
/*  height: 5em !important;*/
/*  border-width: .25em !important;*/
/*}*/



