<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
              <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn text-gray" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{cardTitle}}
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="fName-label" >First Name</label>
          <input type="text" class="form-control" [ngModel]="donor?.firstName" name="fn">

          <label class="lName-label" style="margin-top: 20px" >Last Name</label>
          <input type="text" class="form-control" [ngModel]="donor?.lastName" name="ln">
          <label class="gender-label" style="margin-top: 20px">Gender</label>
        </form>
        <div class="form-check form-check-inline col-6">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline col-6">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <div class="form-check form-check-inline col-6">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
          <label class="form-check-label" for="inlineRadio3">Other</label>
        </div>
        <form class="mr-auto input-group-lg" style="margin-top: 15px">
          <label for="ageInput" class="col-form-label">Age</label>
          <input class="form-control" name="age" type="number" min="18" max="100" id="ageInput" placeholder="Age" [ngModel]="donor?.DON_AGE_IN_MONTHS">

          <label for="BMIInput" class="col-form-label" style="margin-top: 15px">BMI</label>
          <input class="form-control" name="bmi" type="number" min="1" max="100" id="BMIInput" placeholder="BMI" [ngModel]="donor?.DON_BMI">

          <label class="bType-label"  style="margin-top: 20px">Blood Type</label>
          <select class="custom-select">
            <option value="" disabled>Blood Type</option>
            <option value="1">A</option>
            <option value="3">A1</option>
            <option value="2">A1B</option>
            <option value="3">A2</option>
            <option value="4">A2B</option>
            <option value="5">AB</option>
            <option value="6">B</option>
            <option value="7">O</option>
            <option value="8">z</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          History of Patient
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">
          <label class="bType-label">Does The Patient Had Three Or More Inotropic Agents At Time Of Incision?</label>
          <select class="custom-select">
            <option value="" disabled>Inotropic Agents</option>
            <option value="1">Yes</option>
            <option value="1">No</option>
            <option value="1">Unknown</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Does The Patient Had Cardiovascular Arrest That Led To The Death Of The Patient?</label>
          <select class="custom-select">
            <option value="" disabled>Cardiovascular Arrest</option>
            <option value="1">Yes</option>
            <option value="1">No</option>
            <option value="1">Unknown</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Cocaine Use</label>
          <select class="custom-select">
            <option value="" disabled>Cocaine Use</option>
            <option value="1">Yes</option>
            <option value="1">No</option>
            <option value="1">Unknown</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">History of Hypertension</label>
          <select class="custom-select">
            <option value="1" disabled>Hypertension</option>
            <option value="1">No</option>
            <option value="1">Yes - 0 To 5 Years</option>
            <option value="1">Yes - 6 To 10 Years</option>
            <option value="1">Yes - Unknown Duration</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
               <span style="float: right; margin-top: 8px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Lab Results
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <form class="mr-auto input-group-lg">

          <label class="bType-label" style="margin-top: 20px">Anti-CMV</label>
          <select class="custom-select">
            <option value="1" disabled>Anti-CMV</option>
            <option value="1">Positive</option>
            <option value="1">Negative</option>
            <option value="1">Not Done</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Anti-HCV</label>
          <select class="custom-select">
            <option value="1" disabled>Anti-HCV</option>
            <option value="1">Positive</option>
            <option value="1">Negative</option>
            <option value="1">Not Done</option>
          </select>


          <label class="bType-label" style="margin-top: 20px">Donor's HLA - A1 antigen</label>
          <select class="custom-select" name="a1">
            <option value="1" disabled>A1 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Donor's HLA - A2 antigen</label>
          <select class="custom-select">
            <option value="1" disabled>A2 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Donor's HLA - B1 antigen</label>
          <select class="custom-select">
            <option value="1" disabled>B1 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Donor's HLA - B2 antigen</label>
          <select class="custom-select">
            <option value="1" disabled>B2 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Donor's HLA - DR1 antigen</label>
          <select class="custom-select">
            <option value="1" disabled>DR1 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>

          <label class="bType-label" style="margin-top: 20px">Donor's HLA - DR2 antigen</label>
          <select class="custom-select">
            <option value="55" disabled>DR2 antigen</option>
            <option value="1" *ngFor="let number of options">{{number}}</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
