<div class="card cardWithStyle">
  <div class="card-header cardHeaderWithStyle">
    Patient Requests
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-4" style="margin-bottom: 30px;">
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link">Your Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Donor's Info</a>
          </li>
        </ul>
        <app-info-accardion [cardTitle]="'General Information'"></app-info-accardion>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="card fixed-card w-50">
          <div class="card-body">
            <div>
              <p style="margin-bottom: 20px">
                <svg style="color: red" width="32" height="32" viewBox="0 0 18 18" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                </svg>
                Organs Information
                 </p>
            </div>
            <div class="row">
              <div class="col-8">
                <p>
                Health Status
                </p>
                <p>
                Blood type
                </p>
                <p style="margin-top: 50px">
                  <svg style="color: #267DFF" width="32" height="32" viewBox="0 0 18 18" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  Doctor's Opinion
                </p>
              </div>
              <div class="col-4 text-right">
                <p>
                  100%
                </p>
                <p>
                  AB -
                </p>

              </div>
              <div>
                <p style="font-size: 15px">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div class="divider"></div>
              <!--              <div class="row">-->
              <div class="col-9">
                <p style="margin:  20px 0 14px 0">
                  <svg style="color: #0DBC00" width="32" height="32" viewBox="0 0 18 18" class="bi bi-percent" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg>
                  The Probability Of Successful Surgery
                </p>
              </div>
              <div class="col-3 text-right">
                <p style="margin:  20px 0 14px 0">
                  78%
                </p>
              </div>
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
